@import '../abstracts/variables';
@import '../abstracts/mixin';

// Mixin pour texte gras
@mixin font-weight-bold {
  font-weight: $font-weight-extra-bold;
}

// Mixin pour texte mince
@mixin font-weight-normal {
  font-weight: $font-weight-normal;
}

// Titre de premier niveau
%heading1{
  font-size: $font-size-h1;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-extra-bold;
  margin-bottom: $margin-bottom-h1;
}

// Titre de deuxième niveau
%heading2 {
  font-size: $font-size-h2;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-bottom-h2;
}

// Titre de troisième niveau
%heading3 {
  font-size: $font-size-h3;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  margin-bottom: $margin-bottom-h3;
}

// Titre de quatrième niveau
%heading4 {
  font-size: $font-size-h4;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
  margin-bottom: $margin-bottom-h4;
}

// Titre de cinquième niveau
%heading5 {
  font-size: $font-size-h5;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-medium;
  margin-bottom: $margin-bottom-h5;
}

// Texte de base gras
%body-text-bold {
  @include font-weight-bold;
  @include text-color($color-pure-black);
  font-family: $font-family-sans-serif;
  font-size: $font-size-body;
  line-height: $base-line-height;
  margin-bottom: $margin-bottom-body;
}

// Texte de base mince
%body-text-normal {
  @include font-weight-normal;
  @include text-color($color-black);
  letter-spacing: 1.5px;
  font-size: $font-size-body;
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  margin-bottom: $margin-bottom-body;
}

// Liens
%link {
  color: $color-white;
  font-family: $font-family-sans-serif;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  @extend %heading1;
  @include respond-to(700px){
    font-size: 5rem;
  }
}

h2 {
  @extend %heading2;
  @include respond-to(700px){
    font-size: 2.5rem;
  }
}

h3 {
  @extend %heading3;
  @include respond-to(700px){
    font-size: 1.5rem;
  }
}

p, label {
  @extend %body-text-normal;
  @include respond-to(700px){
    font-size: 1rem;
  }
}

a {
  @extend %link;
}

.underline{
  text-decoration: underline;
}

.bold{
  @extend %body-text-bold;
}

.incline-text{
  rotate: -9deg;
  font-style: italic;
}