.main {

    .section1{
        @include flex-container(column, center,flex-start) ;
        @include respond-to(940px){
            @include flex-container(column, center,center);        
        }

        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../img/61842.png");
        background-repeat: repeat;
        

        &__wrapper{
            width: 100%;
            @include margin(0 0 0 148px);
            @include respond-to(1280px){
                @include margin(0 0 0 80px);
            }
            @include respond-to(940px){
                @include margin(0 0 0 0);
                @include padding(40px);
            }
            @include respond-to(600px){
                @include margin(0 0 0 0);
                @include padding(18px);
            }
            @include flex-container(column, center, flex-start);
            gap: 40px;
            position: absolute;
            z-index: 2;
        }

        p{
            max-width: 476px;
        }

        img{
            z-index: 0;
            position: absolute;
            bottom: -200px;
            right: -150px;
            height: 1200px;

            @include respond-to(1520px){
                right: -300px;
            }

            @include respond-to(1280px){
                right: -400px;
            }
            @include respond-to(1080px){
                right: -500px;
            }

            @include respond-to(940px){
                display: none;
            }
        }

        &__h2{
            color: $color-primary;
        }

        // &__right{
        //     @include respond-to(1080px){
        //         display: none;
        //     }
        //     @include flex-container;
        //     img{
        //         width: 100%;
        //     }
        // }
        


    }

    .section2{
        @include flex-container(column, center, center);
        @include center-text;
        width: 100%;
        height: 100vh;
        background-image: url("../img/ismael-trevino-NDyuR4Huig8-unsplash.png");
        background-size: cover;
        background-position: center;


        h2, p, span{
            @include text-color($color-white);
        }

        &__wrapper{
            @include background-color($color-primary);
            @include flex-container(column, center, center);
            @include padding(37px 68px 37px 48px );
            max-width: 580px;
            margin-inline: 580px 154px ;
            gap: 40px;
            opacity: 0.85;

            @include respond-to(1330px){
                margin-inline: auto;
            }

            @include respond-to(680px){
                max-width:340px;
                gap: 8px;

                @include padding(18px 22px 18px 22px);
            }
            
        }
    }

    .section3{
        @include flex-container(column, center, center);
        @include text-color($color-black);
        @include padding(71px 0px 81px);
        @media screen and (max-width: 1280px) {
            @include padding(71px 20px 81px);
        }
        width: 100%;
        background-image: url("../img/pattern.png");
        background-repeat: repeat;

        h2, h3{
            @include text-color($color-primary);
        }

        &__header{
            @include center-text;
            @include padding (0 0 88px 0);
            max-width: 800px;

            h2{
                @include padding(0 0 30px);
            }
        }

        &__content{
            @include grid-container(2, 50px);
            @include padding (0px 198px 0px 148px);
            @include respond-to(1280px) {
                @include padding (0px 80px 0px 60px);
            }
            @include respond-to(600px){
                @include padding (0px 10px 0px 10px);
            }
            @include respond-to(1024px){
                @include grid-container(1);
            }

            width: 100%;

            &__left{
                @include flex-container(column, center, center);
                gap: 50px;

                &__card{
                    @include flex-container(column, center, flex-start);
                    @include padding(0 24px);
                    gap: 12px;
                    width: 100%;


                    &__text{
                        @include flex-container(row, space-between, center);
                        width: 100%
                    }
                }

                &__card-wrapper{
                    @include flex-container(column, center, flex-end);
                    
                    width: 100%;

                    p:nth-child(1){
                        @include padding(0 11px);
                        @include margin(0);
                        @include text-color($color-white);
                        background-color: $color-primary;
                        font-size: 12px;
                    }
                }

                &__card-active{
                    border: 1px solid $color-primary;
                }
            }

            &__right{
                @include flex-container(column, center, center);
                gap: 50px;
                @include center-text;
                @include respond-to(1024px){
                    grid-row: 1;
                    padding-bottom: 38px;
                }
    

                h2{
                    font-size: 64px;
                    font-style: italic;
                    font-weight: $font-weight-normal;
                }

                p{
                    max-width: 430px;
                }

                h2:nth-child(2){
                    @include text-color($color-secondary);
                }

            
            }
        }
    }

    .section4{
        @include center-text;
        @include text-color($color-white);
        @include flex-container(column, center, center);
        @include padding(84px 0 84px);
        width: 100%;
        background-image: url("../img/louis-hansel-MlPD-AzZYMg-unsplash.png");
        background-size: cover;

        &__content{
            @include grid-container(2, 16px);
            @include respond-to(1280px){
                @include grid-container(1, 8px);
            }

            p{
                @include text-color($color-white);
                margin-bottom: 0;
            }

            &__left{
                @include padding(30px 100px);
                @include respond-to(700px){
                    @include padding(30px 40px);
                }
                background-color: $color-primary;
                opacity: 0.85;
            }

            &__right{
                @include padding(30px 100px);
                @include respond-to(700px){
                    @include padding(30px 20px);
                }
                background-color: $color-secondary;
                opacity: 0.85;
            }

            &__grid{
                @include grid-container(2, 16px);
                @include respond-to(500px){
                    @include grid-container(1);
                }
                @include padding(30px 0 0 0);
            }

            &__wrapper{
                @include flex-container(column, flex-start, center);
                @include padding(0 20px);
            }
        }
    }

    .section5{
        @include padding(84px 106px 84px);
        @include respond-to(720px){
            @include padding(84px 60px 84px);
        };
        @include respond-to(520px){
            @include padding(54px 12px 54px);
        };
        width: 100%;
        background-image: url("../img/61842.png");
        background-repeat: repeat;
        

        h2{
            @include text-color($color-primary);
        }

        &__content{
            @include grid-container(2, 64px);
            width: 100%;

            @include respond-to(1280px){
                @include grid-container(1, 64px);
            }

            &__left{
                @include flex-container();
                position : relative;
                
                img {
                    width: 100%
                };
            }

            &__croix{
                position: absolute;
                width: 100%;
                border: 4px solid $color-white;

                &-vertical{
                    width: 0;
                    height: 100%
                }
            }

            &__right{
                h2{
                    @include padding(0 0 18px);
                } 
            }

            &__p{
                @include padding(0 0 28px);
                max-width: 460px;
            }
            

            &__form{
                @include flex-container(column, center, flex-start);
                width: 100%;
                gap: 25px;

                label{
                    @include text-color
                    ($color-primary);
                    font-style: italic;
                }

                &__2cols{
                    @include grid-container(2, 16px);
                    width: 100%;
                }

                &__wrapper{
                    @include flex-container(column, flex-start, flex-start);
                    width: 100%;                    
                }

                &__input{
                    width: 100%;
                    height: 45px;
                    background-color: $color-white;
                    border: 1px solid $color-medium-gray;
                }

                &__textarea{
                    width: 100%;
                    height: 135px;
                    background-color: $color-white;
                    border: 1px solid $color-medium-gray;
                }
            }

            &__button{
                @include flex-container(row, center, center);
                @include padding(35px 0 0);
                width: 100%;
            }

        }
    }
}


