.header{
    @include flex-container(column, space-between, center);
    width: 100%;
    height: 100vh;

    &__img{  
        position: absolute;
        z-index: -2; 
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    &_pathrou{
        background: linear-gradient( 160deg, #B2D234, #60A0D8);
        opacity: 0.7;
        position: absolute;
        z-index: -1; 
        width: 100%;
        height: 100vh;
    }


    &__nav{
        @include flex-container(row, space-between, center);
        @include padding(25px 40px);
        width: 100%;

        &__ul{
            @include flex-container(row, space-between, center);
            height: 80px;
            gap: 50px;
        }

        &__li-button{
            @include padding(9px 30px);
            @include box-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
            border-radius: 6px;
            display: block;

            a{
                color: $color-primary;
            }
            background-color: $color-white;        
        }
    }

    &__title{
        @include text-color($color-white);
        @include flex-container(column, center, center);
    }

    &__socials{
        @include flex-container(row, flex-end, center);
        @include padding(48px);
        gap: 20px;
        width: 100%;
        height: 50px;

        svg{
            width: 31px;
            height: 31px;
        }
    }
}
