@charset "UTF-8";
/* ce fichier est utilisé pour réinitialiser les styles par défaut du navigateur */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 7.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 1.125;
}

h2 {
  font-size: 3.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.84375;
}

.primary-button, .secondary-button, h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5625;
}

.bold {
  font-weight: 800;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.125;
  line-height: 1.5;
  margin-bottom: 1.40625;
}

p, label {
  font-weight: 200;
  color: #606060;
  letter-spacing: 1.5px;
  font-size: 1.125;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin-bottom: 1.40625;
}

a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  p, label {
    font-size: 1rem;
  }
}

.underline {
  text-decoration: underline;
}

.incline-text {
  rotate: -9deg;
  font-style: italic;
}

h1 {
  font-size: 7.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 1.125;
}

h2 {
  font-size: 3.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.84375;
}

.primary-button, .secondary-button, h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5625;
}

.bold {
  font-weight: 800;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.125;
  line-height: 1.5;
  margin-bottom: 1.40625;
}

p, label {
  font-weight: 200;
  color: #606060;
  letter-spacing: 1.5px;
  font-size: 1.125;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin-bottom: 1.40625;
}

a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  p, label {
    font-size: 1rem;
  }
}

.underline {
  text-decoration: underline;
}

.incline-text {
  rotate: -9deg;
  font-style: italic;
}

.primary-button, .secondary-button {
  padding: 14px 60px;
  color: #ffffff;
  background-color: #B2D234;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.primary-button:hover, .secondary-button:hover {
  background-color: #91ad26;
}

.secondary-button {
  background-color: #ffffff;
  color: #B2D234;
}
.secondary-button:hover {
  background-color: #3788ce;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.header__img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  background-image: url("../img/Header back.png");
  background-size: cover;
  background-position: center;
}
.header_pathrou {
  background: linear-gradient(160deg, #B2D234, #60A0D8);
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  width: 100%;
}
.header__nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 50px;
}
@media only screen and (max-width: 1080px) {
  .header__nav__ul {
    display: none;
  }
}
.header__nav__ul-hamburger {
  display: none;
}
.header__nav__ul-hamburger div {
  background-color: #fff;
  width: 42px;
  height: 4px;
  border-radius: 20px;
}
@media only screen and (max-width: 1080px) {
  .header__nav__ul-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}
.header__nav__li-button {
  padding: 9px 30px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: block;
  background-color: #ffffff;
}
.header__nav__li-button a {
  color: #B2D234;
}
.header__title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title h2 {
  font-weight: 200;
  position: relative;
  left: 170px;
}
@media only screen and (max-width: 1080px) {
  .header__title h2 {
    position: static;
    padding-top: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .header__title h2 {
    font-size: 2rem;
  }
}
.header__socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 48px;
  gap: 20px;
  width: 100%;
  height: 50px;
}
.header__socials svg {
  width: 31px;
  height: 31px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 68px 0;
  gap: 84px;
  width: 100%;
  background-color: #B2D234;
}
@media only screen and (max-width: 1080px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 22px 0;
  }
}
.footer p, .footer h3 {
  color: #ffffff;
}
.footer h3 {
  font-size: 27px;
  padding-bottom: 27px;
}
.footer p {
  margin-bottom: 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px;
}
@media only screen and (max-width: 1280px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
@media only screen and (max-width: 720px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
}

.main .section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/61842.png");
  background-repeat: repeat;
}
@media only screen and (max-width: 940px) {
  .main .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main .section1__wrapper {
  width: 100%;
  margin: 0 0 0 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  z-index: 2;
}
@media only screen and (max-width: 1280px) {
  .main .section1__wrapper {
    margin: 0 0 0 80px;
  }
}
@media only screen and (max-width: 940px) {
  .main .section1__wrapper {
    margin: 0 0 0 0;
    padding: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .main .section1__wrapper {
    margin: 0 0 0 0;
    padding: 18px;
  }
}
.main .section1 p {
  max-width: 476px;
}
.main .section1 img {
  z-index: 0;
  position: absolute;
  bottom: -200px;
  right: -150px;
  height: 1200px;
}
@media only screen and (max-width: 1520px) {
  .main .section1 img {
    right: -300px;
  }
}
@media only screen and (max-width: 1280px) {
  .main .section1 img {
    right: -400px;
  }
}
@media only screen and (max-width: 1080px) {
  .main .section1 img {
    right: -500px;
  }
}
@media only screen and (max-width: 940px) {
  .main .section1 img {
    display: none;
  }
}
.main .section1__h2 {
  color: #B2D234;
}
.main .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
  background-position: center;
}
.main .section2 h2, .main .section2 p, .main .section2 span {
  color: #ffffff;
}
.main .section2__wrapper {
  background-color: #B2D234;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 37px 68px 37px 48px;
  max-width: 580px;
  margin-inline: 580px 154px;
  gap: 40px;
  opacity: 0.85;
}
@media only screen and (max-width: 1330px) {
  .main .section2__wrapper {
    margin-inline: auto;
  }
}
@media only screen and (max-width: 680px) {
  .main .section2__wrapper {
    max-width: 340px;
    gap: 8px;
    padding: 18px 22px 18px 22px;
  }
}
.main .section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #606060;
  padding: 71px 0px 81px;
  width: 100%;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}
@media screen and (max-width: 1280px) {
  .main .section3 {
    padding: 71px 20px 81px;
  }
}
.main .section3 h2, .main .section3 h3 {
  color: #B2D234;
}
.main .section3__header {
  text-align: center;
  padding: 0 0 88px 0;
  max-width: 800px;
}
.main .section3__header h2 {
  padding: 0 0 30px;
}
.main .section3__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 0px 198px 0px 148px;
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .main .section3__content {
    padding: 0px 80px 0px 60px;
  }
}
@media only screen and (max-width: 600px) {
  .main .section3__content {
    padding: 0px 10px 0px 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .main .section3__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.main .section3__content__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main .section3__content__left__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 24px;
  gap: 12px;
  width: 100%;
}
.main .section3__content__left__card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main .section3__content__left__card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.main .section3__content__left__card-wrapper p:nth-child(1) {
  padding: 0 11px;
  margin: 0;
  color: #ffffff;
  background-color: #B2D234;
  font-size: 12px;
}
.main .section3__content__left__card-active {
  border: 1px solid #B2D234;
}
.main .section3__content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .main .section3__content__right {
    grid-row: 1;
    padding-bottom: 38px;
  }
}
.main .section3__content__right h2 {
  font-size: 64px;
  font-style: italic;
  font-weight: 200;
}
.main .section3__content__right p {
  max-width: 430px;
}
.main .section3__content__right h2:nth-child(2) {
  color: #60A0D8;
}
.main .section4 {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 84px 0 84px;
  width: 100%;
  background-image: url("../img/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
}
.main .section4__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media only screen and (max-width: 1280px) {
  .main .section4__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}
.main .section4__content p {
  color: #ffffff;
  margin-bottom: 0;
}
.main .section4__content__left {
  padding: 30px 100px;
  background-color: #B2D234;
  opacity: 0.85;
}
@media only screen and (max-width: 700px) {
  .main .section4__content__left {
    padding: 30px 40px;
  }
}
.main .section4__content__right {
  padding: 30px 100px;
  background-color: #60A0D8;
  opacity: 0.85;
}
@media only screen and (max-width: 700px) {
  .main .section4__content__right {
    padding: 30px 20px;
  }
}
.main .section4__content__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 30px 0 0 0;
}
@media only screen and (max-width: 500px) {
  .main .section4__content__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.main .section4__content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}
.main .section5 {
  padding: 84px 106px 84px;
  width: 100%;
  background-image: url("../img/61842.png");
  background-repeat: repeat;
}
@media only screen and (max-width: 720px) {
  .main .section5 {
    padding: 84px 60px 84px;
  }
}
@media only screen and (max-width: 520px) {
  .main .section5 {
    padding: 54px 12px 54px;
  }
}
.main .section5 h2 {
  color: #B2D234;
}
.main .section5__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .main .section5__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 64px;
  }
}
.main .section5__content__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .section5__content__left img {
  width: 100%;
}
.main .section5__content__croix {
  position: absolute;
  width: 100%;
  border: 4px solid #ffffff;
}
.main .section5__content__croix-vertical {
  width: 0;
  height: 100%;
}
.main .section5__content__right h2 {
  padding: 0 0 18px;
}
.main .section5__content__p {
  padding: 0 0 28px;
  max-width: 460px;
}
.main .section5__content__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 25px;
}
.main .section5__content__form label {
  color: #B2D234;
  font-style: italic;
}
.main .section5__content__form__2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}
.main .section5__content__form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.main .section5__content__form__input {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #888888;
}
.main .section5__content__form__textarea {
  width: 100%;
  height: 135px;
  background-color: #ffffff;
  border: 1px solid #888888;
}
.main .section5__content__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 35px 0 0;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
